<% if params[:error] == "email_taken" %>
  <script>
    alert("It seems like the account already exists.");
  </script>
<% end %>

<div class="form-container">
  <h2>Sign Up for MealDiary</h2>
  <%= form_with model: @user, url: users_path, local: true do |form| %>
    <div class="form-field">
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </div>

    <div class="form-field">
      <%= form.label :email %><br>
      <%= form.email_field :email %>
    </div>

    <div class="form-field">
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </div>

    <div class="form-field">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="form-actions">
      <%= form.submit "Sign Up" %>
    </div>

    
  <% end %>
</div>