<%= form_with model: meal_post, local: true do |form| %>
  <div class="form-field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="form-field">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div class="form-field">
    <%= form.label :meal_type %><br>
    <%= form.select :meal_type, MealPost.meal_types.keys.map { |t| [t.titleize, t] } %>
  </div>

  <div class="form-field">
    <%= form.label :meal_source %><br>
    <%= form.select :meal_source, MealPost.meal_sources.keys.map { |s| [s.titleize, s] } %>
  </div>

  <div class="form-field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div class="form-actions">
    <%= form.submit "Post" %>
  </div>
<% end %>


